body {
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}
h1 {
    color: blue;
}
/* Este es un comentario en CSS */
p {
    font-size: 18px;
    color: gray;
}
